<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/css/styles.css') }}">
    <title>Demande de création d'objets</title>
</head>
<body>
    <h2>📦 Demande de Création d'Objet</h2>
<form method="POST">
    <label>Nom de l’objet :</label>
    <input type="text" name="nom" required>

    <label>Type :</label>
    <select name="type" required>
        <option value="thermostat">Thermostat</option>
        <option value="scanner">Scanner</option>
        <option value="radio">Radio</option>
        <option value="IRM">IRM</option>
        <option value="robot_chirurgical">Robot chirurgical</option>
        <option value="ventilation_artificielle">Ventilation artificielle</option>
        <option value="scope">Scope</option>
        <option value="pompe_nutritionnelle">Pompe nutritionnelle</option>
        <option value="microscope">Microscope</option>
        <option value="refrigerateur">Réfrigérateur</option>
        <option value="robot_rtms">Robot RTMS</option>
    </select>

    <label>Service :</label>
    <select name="service" required>
        <option value="Urgences">Urgences</option>
        <option value="Pediatrie">Pédiatrie</option>
        <option value="Anesthesie">Anesthésie-Réanimation</option>
        <option value="Oncologie">Oncologie</option>
        <option value="Psychiatrie">Psychiatrie</option>
    </select>

        <label> Marque : </label>
    <select name="Marque" required>
        <option value="philips">Philips Healthcare</option>
        <option value="siemens">Siemens Healthineers</option>
        <option value="ge">General Electric (GE) Healthcare</option>
        <option value="canon">Canon Medical Systems</option>
        <option value="roche">Roche Diagnostics</option>
        <option value="abbott">Abbott Laboratories</option>
        <option value="medtronic">Medtronic</option>
        <option value="intuitive">Intuitive Surgical</option>
        <option value="jnj">Johnson & Johnson (Ethicon)</option>
        <option value="stryker">Stryker</option>
        <option value="draeger">Draeger</option>
        <option value="baxter">Baxter International</option>
        <option value="resmed">ResMed</option>
        <option value="3m">3M Health Care</option>
        <option value="bd">Becton Dickinson (BD)</option>
    </select>

    <label>Message (facultatif) :</label><br>
    <textarea name="message" rows="4" cols="50"></textarea><br><br>

    <button type="submit">📤 Envoyer la demande</button>
</form>

</body>
</html>