<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profil</title>
    <!-- Lien vers Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/css/profil.css') }}">
</head>
<body>

    <div class="container text-center">
        <h2>Bienvenue, {{ user[1] }} {{ user[0] }} !</h2>
        <p><strong>Âge:</strong> {{ user[2] }} ans</p>
        <p><strong>Genre:</strong> {{ user[3] }}</p>
        <p><strong>Email:</strong> {{ user[4] }}</p>
        <p><strong>Type:</strong> {{ user[6] }}</p>
        <p><strong>Date de naissance :</strong> {{ user[5] }}</p>
        
        <!-- Affichage de l'image de profil -->
        <p><strong>Photo:</strong></p>
        <img src="{{ url_for('static', filename='images/lordofcinder.jpg') }}" 
        alt="Photo de profil" class="img-fluid" style="max-width: 150px;">

        <p><strong>Pseudonyme:</strong> {{ user[12] }}</p>
        <p><strong>Fonction:</strong> {{ user[9] }}</p>
        <p><strong>Service:</strong> {{ user[10] }}</p>
        <p><strong>Nombre de connexions :</strong> {{ user[15] }}</p>
        <p><strong>Nombre d'actions :</strong> {{ user[14] }}</p>

        
        <!-- Affichage du niveau avec conditions -->
        <p><strong>Niveau :</strong> 
            {% if user[11] == 0 %}
                Débutant
            {% elif user[11] == 1 %}
                Intermédiaire
            {% elif user[11] == 2 %}
                Avancé
            {% elif user[11] == 3 %}
                Expert
            {% else %}
                Niveau inconnu
            {% endif %}
        </p>

        <!-- Affichage des points -->
        <p><strong>Points:</strong> {{ user[13] }}</p>

        <a href="{{ url_for('logout') }}" class="btn btn-danger">Se déconnecter</a>
        <a href="{{ url_for('liste_utilisateurs') }}" class="btn btn-primary">Voir les autres profils</a>
    </div>

    <!-- Lien vers Bootstrap JS (facultatif si besoin de JavaScript) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
