<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Résultats de recherche - Objets</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/css/styles.css') }}">
</head>
<body>
    <div class="container">
        <a href="{{ url_for('accueil') }}" class="btn btn-danger">Accueil</a>
    </div>
    <div class="container">
        <h2>Objets correspondant à : "{{ query }}"</h2>

        {% if results %}
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nom</th>
                    <th>Type</th>
                    <th>Service</th>
                    <th>Marque</th>
                </tr>
            </thead>
            <tbody>
                {% for obj in results %}
                <tr>
                    <td data-label="ID"><a href="{{ url_for('objet', IDobjet=obj[0]) }}">{{ obj[0] }}</a></td>
                    <td data-label="Nom">{{ obj[8] }}</td>
                    <td data-label="Type">{{ obj[9] }}</td>
                    <td data-label="Service">{{ obj[6] }}</td>
                    <td data-label="Marque">{{ obj[7] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>Aucun objet trouvé.</p>
        {% endif %}


        <div class="container">
            <a href="{{ url_for('gestion_ressources') }}" class="btn btn-secondary">Retourner aux ressources</a>
        </div>
    </div>
</body>
</html>