<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des Salles</title>
</head>
<body>
    <h1>Liste des Salles</h1>

    <table border="1">
        <thead>
            <tr>
                <th>Numéro de Salle</th>
                <th>Étage</th>
                <th>Service</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for salle in salles %}
                <tr>
                    <td>{{ salle['NumeroSalle'] }}</td>
                    <td>{{ salle['Etage'] }}</td>
                    <td>{{ salle['Service'] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

</body>
</html>
